<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".TleKeyDownloadActivity"
            android:exported="false" />

        <activity
            android:name=".InputAmount"
            android:exported="false" />



        <activity
            android:name=".QrHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".PrintAnyReceiptQRActivity"
            android:exported="false" />
        <activity
            android:name=".QrReportActivity"
            android:exported="false" />
        <activity
            android:name=".LastSettlementActivity"
            android:exported="false" />
        <activity
            android:name=".ForceReversalActivity"
            android:exported="false" />
        <activity
            android:name=".QrSettlementActivity"
            android:exported="false" />
        <activity
            android:name=".PrintLastSettkementsActivity"
            android:exported="false" />
        <activity
            android:name=".PrintAnyReceiptActivity"
            android:exported="false" />
        <activity
            android:name=".QRTransactionReportActivity"
            android:exported="false" />
        <activity
            android:name=".TransactionReportActivity"
            android:exported="false" />
        <activity
            android:name=".HostParametersActivity"
            android:exported="false" />
        <activity
            android:name=".CManualEntryActivity"
            android:exported="false" />
        <activity
            android:name=".CmvActivity"
            android:exported="false" />
        <activity
            android:name=".SettlemEnterPasswordentActivity"
            android:exported="false" />
        <activity
            android:name=".TapScreenActivity"
            android:exported="false" />
        <activity
            android:name=".ClearBatchActivity"
            android:exported="false" />
        <activity
            android:name=".ClearReversalMainActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityTleKeyDownload"
            android:exported="false" />
        <activity
            android:name=".SetMerchantPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".PinKeyInjectionActivity"
            android:exported="false" />
        <activity
            android:name=".EditTableActivity"
            android:exported="false" />
        <activity
            android:name=".SetupActivity"
            android:exported="false" />
        <activity
            android:name=".ReportsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".PreAuthActivity"
            android:exported="false" />
        <activity
            android:name=".QrVerifyActivity"
            android:exported="false" />

        <activity
            android:name=".QRActivity"
            android:exported="false" />
        <activity
            android:name=".SettlementActivity"
            android:exported="false" />
        <activity
            android:name=".VoidActivity"
            android:exported="false" />
        <activity
            android:name=".select_merchant_Activity"
            android:exported="false" />
        <activity
            android:name=".SaleActivity"
            android:exported="false" />
        <activity
            android:name=".MenuUserActivity"
            android:exported="false" />
        <activity
            android:name=".dropdownmenu"
            android:exported="false" />
        <activity
            android:name=".QRErrorActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />

        <activity
            android:name=".QRReadyActivity"
            android:exported="false" />


        <activity
            android:name=".PreCompletionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>